// home cifri
.page__cifri
	.container
		section.cifri
			ul.cifri__list
				li.cifri__item
					span.fa 
					span.num 17
					span.text лет на рынке
				li.cifri__item
					span.fa 
					span.num 89
					span.text довольных клиентов
				li.cifri__item
					span.fa 
					span.num 25
					span.text лет на рынке
				li.cifri__item
					span.fa 
					span.num 164
					span.text довольных клиентов
				li.cifri__item
					span.fa 
					span.num 98
					span.text довольных клиентов
// home cifri end