// main footer
.page__main-footer
	.main-footer__top
		.container
			.row
				.col-sm-6
					.logo: a(href="/")
							span.logo-text
								| Prime
								span house
							p.logo__description ПРОЕКТИРОВАНИЕ И СТРОИТЕЛЬСТВО <br> ДОМОВ ИЗ КАМНЯ ПОД КЛЮЧ
					ul.main-footer__menu.columns2
						li: a(href="#") О компании
						li: a(href="#") Проекты магазин
						li: a(href="#") Индивидуальный проект
						li: a(href="#") Наши работы
						li: a(href="#") Контакты
				.col-sm-6.ta-right
					.main-footer__phone
						span.left Позвоните нам<br>или закажите звонок
						span.right 
							i.fa.fa-phone
							span 8 (800) 20 000 02
					.main-footer__form
						form(action="#")
							input(type="text" placeholder="Имя")
							input(type="text" placeholder="ТЕЛЕФОН")
							button(type="submit").btn.btn--green Заказать звонок
	.main-footer__bottom.main-top
		.container
			.row
				.col-lg-6.col-md-5.col-sm-6.main-top__left
					ul.social.clearfix
						li: a(href="#"): i.fa 
						li: a(href="#"): i.fa 
						li: a(href="#"): i.fa 
					.search
						form(action="#")
							input(type="text")
							button(type="submit").fa 
				.col-lg-6.col-md-7.col-sm-6.ta-right
					ul.info-block
						li
							i.fa 
							span г. Москва, ул Профсоюзная 10, строение 1 
						li
							i.fa 
							a(href="#") primehouse@gmail.com
// main footer end
// popups
#callback.header-slider__form.fl-right
	p ЗАКАЖИ ЗВОНОК
	form(action="#")
		input(type="text" placeholder="Имя")
		input(type="text" placeholder="Телефон")
		input(type="text" placeholder="E-mail")
		span.sep
		button(type="submit").btn.btn--green Заказать