// header
.page__header
	.main-header
		.main-header__top.main-top
			.container
				.row
					.col-lg-6.col-md-5.col-sm-6.main-top__left
						ul.social.clearfix
							li: a(href="#"): i.fa 
							li: a(href="#"): i.fa 
							li: a(href="#"): i.fa 
						.search
							form(action="#")
								input(type="text")
								button(type="submit").fa 
					.col-lg-6.col-md-7.col-sm-6.ta-right
						ul.info-block
							li
								i.fa 
								span г. Москва, ул Профсоюзная 10, строение 1 
							li
								i.fa 
								a(href="#") primehouse@gmail.com
		.main-header__center.header-center
			.container
				.row
					.col-lg-6.col-md-7.col-sm-5
						.logo: a(href="/")
							img(src="img/logo.png", alt="PrimeHouse")
							p.logo__description ПРОЕКТИРОВАНИЕ И СТРОИТЕЛЬСТВО <br> ДОМОВ ИЗ КАМНЯ ПОД КЛЮЧ
					.col-lg-6.col-md-5.col-sm-7.ta-right
						.header-center__info
							span.header-center__phone
								i.fa.fa-phone
								| 8 (800) 20 000 02
							a(href="#callback").ta-center.fancybox.btn.btn--bdgreen Заказать звонок
		nav.main-header__menu
			.container
				.main-menu__wrap
					button.responsive-menu
						span
						span
						span
					ul.main-menu(itemscope itemtype="https://schema.org/SiteNavigationElement")
						li(itemprop="name"): a(href="#" itemprop="url") Главная
						li(itemprop="name"): a(href="#" itemprop="url") Индивидуальный проект
						li(itemprop="name"): a(href="#" itemprop="url") Каталог
						li(itemprop="name"): a(href="#" itemprop="url") Этапы работ
						li(itemprop="name"): a(href="#" itemprop="url") Справочник
						li(itemprop="name"): a(href="#" itemprop="url") О компании
				.user-panel
					span.user-panel__greeting ДОБРО ПОЖАЛОВАТЬ 
					a(href="#")
						i.fa 
						span Вход
		.main-header__slider.header-slider
			.container
				.left
					.header-slider__slogan
						p: b Строим дома на века!
						p Строгая система контроля на каждом<br> этапе строительства.<br> Узнайте о наших гарантиях!
				.right
					.header-slider__form.fl-right
						p ЗАКАЖИ ЗВОНОК
						form(action="#")
							input(type="text" placeholder="Имя")
							input(type="text" placeholder="Телефон")
							input(type="text" placeholder="E-mail")
							span.sep
							button(type="submit").btn.btn--green Заказать
// header end