//- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='js/core.js')
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
script(src='js/main.js')