extends _template

block main
	.page__inner-content
		.container
			section.inner-content
				h2 О компании
				.sep
				.inner-about
					.inner-about__logo
						img(src="img/pAbout-logo.png", alt="")
					.inner-about__text.text-block
						p <b>PRIMEHOUSE</b> – один из самых престижных и известных брендов строительства каменных домовна территории Москвы и Московской области. С 2007 года мы создаем и воплощаем в жизнь уникальные проекты домов, которые в скором времени становятся популярными и среди наших конкурентов. В течение 9 лет мы сдали в эксплуатацию более 420 домов. В это число входят и наши коттеджные поселки, в которых мы выступаем в качестве основных застройщиков. Главным принципом компании является выявление ценностей и реализация потребностей заказчика. И только таким мы видим наше с Вами сотрудничество. Ведь важно быть не выслушанным, а услышанным. Для нас это самый важный фактор деловой этики.”
	include includes/cifri
	// certificates
	.page__certificates
		.container
			.section.certificates
				h2 Сертификаты
				.sep.sep--small
				.row
					.col-sm-3.col-xs-6: .certificates__item: a(href="img/cert1.jpg" data-fancybox-group="cert").fancybox: img(src="img/cert1.jpg", alt="")
					.col-sm-3.col-xs-6: .certificates__item: a(href="img/cert2.jpg" data-fancybox-group="cert").fancybox: img(src="img/cert2.jpg", alt="")
					.col-sm-3.col-xs-6: .certificates__item: a(href="img/cert3.jpg" data-fancybox-group="cert").fancybox: img(src="img/cert3.jpg", alt="")
					.col-sm-3.col-xs-6: .certificates__item: a(href="img/cert4.jpg" data-fancybox-group="cert").fancybox: img(src="img/cert4.jpg", alt="")
	// certificates end
	// map
	.page__main-map
		.main-map
			#mainMap
			.container
				.main-map__places
					h2 Карта объектов
					.main-map__list
						span.main-map__controls-top
							span.icon.icon-map-top
						ul#mainMapList
							li: a(href="point1") <i class="fa"></i> г. Москва, Тверской б-р, д9
							li: a(href="point2") <i class="fa"></i> г. Москва, Тверской б-р, д9
							li: a(href="point3") <i class="fa"></i> г. Москва, Тверской б-р, д9
							li: a(href="point1") <i class="fa"></i> г. Москва, Тверской б-р, д9
							li: a(href="point2") <i class="fa"></i> г. Москва, Тверской б-р, д9
							li: a(href="point3") <i class="fa"></i> г. Москва, Тверской б-р, д9
						span.main-map__controls-bottom
								span.icon.icon-map-bottom
					.main-map__footer
						button.allPoints.btn.btn--blue
							i.fa 
							| Показать все объекты
	// map end
	//content
	.page__about-block
		.container
			.about-block
				h2 Строительство и проектирование частных домов любой сложности по низкой цене в Москве от компании «PRIMEHouse»
				p.big Самые распространенные риски, с которыми может столкнуться каждый:
				ul.ul.offset-left
					li Неудача при выборе проектировщика и строительных бригад, которые зачастую уже после получения аванса исчезают.
					li Некачественно выполненные работы из дешевых материалов. Такое строение уже через год приходит в негодность       и требует самого капитального ремонта – в лучшем случае.
					li Большие расходы, которые появляются во время строительства и бригадир объявляет об увеличении сметной стоимости работ
				p Также есть много всевозможных моментов, от которых теряется надежда и вера в строительные организации.Но только не в нашу компанию!
				h2 Мы – команда профессионалов
				p В штате компании «PrimeHouse» более 30 профессиональных проектировщиков, а также квалифицированные отделочники и строителипо всем специальностям. Здесь нет универсалов, каждый занимается только своей работой, а, как известно, узкопрофильные работники всегда имеют достаточный опыт по своей специальности и любую работу выполняют на совесть.
				p У нас вы можете заказать проекты домов не только в Москве, но и по Московской области в пределах 200 – 300 км. от МКАД.Мы для вас построим шикарный коттедж, таунхаус, бассейн и банный комплекс со всеми удобствами.
				p Для тех, кто не имеет большого земельного участка, всегда есть экономичный вариант проектов домов и бань из различных материалов – все зависит от желания самого клиента и его возможностей.
				p Достаточно обратиться на сайт компании «PrimeHouse» и оставить заявку, указав желаемый объект и его размеры. Наши специалисты приедут и быстро произведут все необходимые замеры, а также рассчитают окончательную стоимость, которая останется непоколебимой.ходимые документы, получить справки от разных организаций, подведут водопровод и газ, подключат электричество. То есть сделают все на пустом загородном участке именно «под ключ», а не просто возведут стены с отделкой.