extends _template

block main
	.page__card
		.container
			.card
				.row
					.col-md-7.card__left
						.card__preview.card-preview
							.card-preview__main
								a(href="img/card-img-main.jpg"): img(src="img/card-img-main.jpg", alt="")
							.card-preview__gallary
								.card-preview__controls
									button.prev.fa 
									button.next.fa 
								ul#cardPreviewCarousel
									li: a(data-largest-img="img/card-img-main.jpg" href="img/card-img-main.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/projkamen1.jpg" href="img/projkamen1.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/projkamen2.jpg" href="img/projkamen2.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/card-img-main.jpg" href="img/card-img-main.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/projkamen1.jpg" href="img/projkamen1.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/projkamen2.jpg" href="img/projkamen2.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/card-img-main.jpg" href="img/card-img-main.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/projkamen1.jpg" href="img/projkamen1.jpg"): img(src="img/card-img-mini.jpg", alt="")
									li: a(data-largest-img="img/projkamen2.jpg" href="img/projkamen2.jpg"): img(src="img/card-img-mini.jpg", alt="")
						.card__complect.card-complect
							.card-complect__nav
								span Комплектация проекта
								ul
									li: a(href="tab-gazosilicat").active Газосиликат
									li: a(href="tab-teplayaCeramica") теплая керамика
							.card-complect__content.tab-gazosilicat.active
								.card-complect__list
									.card-complect__row
										span.name Наружные несущие стены
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco 
									.card-complect__row
										span.name Фундамент
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
									.card-complect__row
										span.name Внутренние несущие стены
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  
									.card-complect__row
										span.name Межэтажное перекрытие
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
									.card-complect__row
										span.name Чердачное перекрытие
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  
							.card-complect__content.tab-teplayaCeramica
								.card-complect__list
									.card-complect__row
										span.name Фундамент
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco 
									.card-complect__row
										span.name Наружные несущие стены
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
									.card-complect__row
										span.name Внутренние несущие стены
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  
									.card-complect__row
										span.name Межэтажное перекрытие
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
									.card-complect__row
										span.name Чердачное перекрытие
										span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  
					.col-md-5.card__right
						h2 Проект дома из пеноблока с отделкой в стиле лофт
						.sep.sep--big
						ul.card__chars
							li
								| Этажей
								span 2
							li
								| Жилая площадь:
								span 290  м2
							li
								| Количество спален:
								span 2
							li
								| Гараж:
								span на 1 машину
						.sep.sep--big
						.card__price.clearfix
							span.complect
								| Цена в комплектации
								span Теплобетон
							span.price 4 500 000 <i class="fa"></i>
						
						.card__form
							.sep.sep--form
							p Заинтересовало предложение? Задайте свой вопрос и наш менеджер свяжется с вами
							form(action="#")
								input(type="text" placeholder="Имя", name="name").input-bd
								input(type="text" placeholder="Номер телефона", name="phone").input-bd
								textarea(placeholder="Вопрос").input-bd
								button(type="submit").btn.btn--green Задать вопрос
	include includes/cifri-noh2