extends _template

block main
	.page__inner-content
		.container
			section.inner-content
				h2 КАТАЛОГ
	.page__catalog-top
		.container.catalog-top
			.w50.catalog-top__left
				.catalog-top__inner
					span.name Дома из камня
					a.link(href="catalog-kamen.html") Перейти в каталог
			.w50.catalog-top__right
				.catalog-top__inner
					span.name Дома из дерева
					a.link(href="catalog-kamen.html") Перейти в каталог
				
	// catalog form
	.page__catalog
		.container
			.row
				.col-md-4
					.filter-left
						p.filter-left__header Фильтр
						form(action="#")
							.filter-left__row
								span.name Стоимость (руб.)
								.uislider__wrap
									.uislider(data-min="0", data-max="100000", data-valmin=1000, data-valmax="90000")
								.uislider__values
									input(readonly name="price_min").min
									input(readonly name="price_max").max
							.filter-left__row
								span.name Площадь (м<sup>2</sup>)
								.uislider__wrap
									.uislider(data-min="0", data-max="100000", data-valmin=2000, data-valmax="50000")
								.uislider__values
									input(readonly name="area_min").min
									input(readonly name="area_max").max
							.filter-left__row
								span.name Этажность
								label.input-wrap
									input(type="checkbox" name="floors" value="Одноэтажный")
									span Одноэтажный
								label.input-wrap
									input(type="checkbox" name="floors" value="Двухэтажный")
									span Двухэтажный
								label.input-wrap
									input(type="checkbox" name="floors" value="Трехэтажный")
									span Трехэтажный
							.filter-left__row
								span.name Материал дома
								label.input-wrap
									input(type="checkbox" name="material" value="Теплобетон")
									span Теплобетон
								label.input-wrap
									input(type="checkbox" name="material" value="Каменный")
									span Каменный
								label.input-wrap
									input(type="checkbox" name="material" value="Брусовой")
									span Брусовой
								label.input-wrap
									input(type="checkbox" name="material" value="Каркас")
									span Каркас
							.filter-left__row
								span.name Серия домов
								.label-group
									label.input-wrap
										input(type="checkbox" name="series" value="Шале")
										span Шале
									label.input-wrap
										input(type="checkbox" name="series" value="Оптиум")
										span Оптиум
							.filter-left__row
								span.name Дополнительно
								.label-group
									label.input-wrap
										input(type="checkbox" name="additional" value="Второй свет")
										span Второй свет
									label.input-wrap
										input(type="checkbox" name="additional" value="Балкон")
										span Балкон
								.label-group
									label.input-wrap
										input(type="checkbox" name="additional" value="Гараж")
										span Гараж
									label.input-wrap
										input(type="checkbox" name="additional" value="Терасса")
										span Терасса
								label.input-wrap
									input(type="checkbox" name="additional" value="Большие окна")
									span Большие окна
								label.input-wrap
									input(type="checkbox" name="additional" value="Плоская крыша")
									span Плоская крыша
							button(type="submit").btn.btn--green подобрать дом
				.col-md-8
					.filter.clearfix
						.w50
							.filter-sort__wrap: .filter__sort
								span.name Сортировать:
								.filter-sort
									.filter-sort__active По площади (больше)
									ul.filter-sort__nav
										li.active По площади (больше)
										li По площади (меньше)
										li По популярности (ниже)
										li По популярности (выше)
						.w50
							.filter__show
								span.name Отображать по:
								ul.filter-show
									li: a(href="#").active 6
									li: a(href="#") 12
									li: a(href="#") 24
					.catalog
						.row
							-for(i=0;i<6;i++)
								.col-sm-6: .catalog__item.catalog-item
									a(href="card.html").catalog-item__image
										img(src="img/catalog-image.jpg", alt="")
									.catalog-item__footer
										span.name Проект дома из камня с отделкой в стиле лофт
										.bottom.clearfix
											.w50: span.area 275 м<sup>2</sup>
											.w50: span.price
												| 4 500 000 
												i.fa 
									.catalog-item__hover
										ul
											li
												span Этажей: 
												| 2
											li
												span Жилая площадь: 
												| 290 м2
											li
												span Количество спален: 
												| 2
											li
												span Гараж: 
												| на 1 машину
					.catalog__footer.pagination__wrap
						span Страницы: 
						ul.pagination
							li: a(href="#").active 1
							li: a(href="#") 2
							li: a(href="#") 3
							li: span ...
							li: a(href="#") 5
	// catalog end
	include includes/cifri-noh2