extends _template

block main
	.page__inner-content
		.container
			section.inner-content
				h2 КОНТАКТЫ
				.sep.sep--small
				.inner-contacts
					.row
						.col-md-5
							.inner-contacts__info
								h3 Контактная информация
								.sep.sep--small.fl-left
								.row
									.col-md-12.col-sm-6
										h4 Адрес: 
										p г. Москва, ул. Большая Полянка, д. 1/10, стр. 3
									.col-md-12.col-sm-6
										h4 Время работы: 
										p Понедельник-Суббота: с 10:00 до 19:00 <br> Выходные и праздничные дни: по договоренности <br> (требуется предварительный звонок)
								.sep.sep--small.fl-left
								ul.inner-contacts__list
									li
										i.fa 
										span +7 (800) 900-90-60 
									li
										i.fa 
										span primehouse@gmail.com
								a(href="#").btn.btn--blue Заказать обратный звонок
						.col-md-7
							.inner-contacts__map
								#contactsMap
	include includes/cifri-noh2