extends _template

block main
	.page__inner-content
		.container
			section.inner-content
				h2 Вопрос - ответ
				.sep.sep--small
				.inner-question
					.inner-question__item
						.body
							.name Можно ли строить в зимний период?
							button.btn.btn--blue.answerOpen
								| Посмотреть ответ
								i.fa 
						.answer
							p Сначала необходимо посмотреть форму договора и убедиться, что в нем нет никаких подводных камней и пунктов, которые бы вас не устроили – если Вы попросите поменять пункты и Вам сразу откажут - это должно насторожить. Во вторую очередь внимательно смотрите смету и требуйте, чтобы все графы в подразделе «марка, вид» были заполнены и в будущем не вызывали разногласий и спорных ситуаций. Обговаривайте все эти вопросы «на берегу» перед подписанием договора. Остерегайтесь больших предоплат, предоплата не должна превышать 50% от полной стоимости работ и материалов. В случае 100% предоплаты требуйте обоснования (это возможно, если речь идет о редких товарах, отсутствующих на складах, фиксации цены). Самое опасное, что может быть – это когда вы упустите контроль над скрытыми элементами строительства – глубина фундамента, армирование, утепление дома и т.п. Именно поэтому компания PopHouse в обязательном порядке приглашает своих клиентов на подписание всех скрытых этапов работ для предотвращения конфликтных ситуаций.
					.inner-question__item
						.body
							.name Чем клиент может рисковать в первую очередь, и на какие моменты обратить вниманиеперед подписанием договора?
							button.btn.btn--blue.answerOpen
								| Посмотреть ответ
								i.fa 
						.answer
							p Сначала необходимо посмотреть форму договора и убедиться, что в нем нет никаких подводных камней и пунктов, которые бы вас не устроили – если Вы попросите поменять пункты и Вам сразу откажут - это должно насторожить. Во вторую очередь внимательно смотрите смету и требуйте, чтобы все графы в подразделе «марка, вид» были заполнены и в будущем не вызывали разногласий и спорных ситуаций. Обговаривайте все эти вопросы «на берегу» перед подписанием договора. Остерегайтесь больших предоплат, предоплата не должна превышать 50% от полной стоимости работ и материалов. В случае 100% предоплаты требуйте обоснования (это возможно, если речь идет о редких товарах, отсутствующих на складах, фиксации цены). Самое опасное, что может быть – это когда вы упустите контроль над скрытыми элементами строительства – глубина фундамента, армирование, утепление дома и т.п. Именно поэтому компания PopHouse в обязательном порядке приглашает своих клиентов на подписание всех скрытых этапов работ для предотвращения конфликтных ситуаций.
	.page__question-form
		.container
			.section.smpad.question-form
				h2 Не нашли ответа на свой вопрос?
				.sep.sep--small
				p Задайте нам вопрос и мы ответим на него <br> в течение 10 минут
				form(action="#")
					.col-md-4: input(type="text" placeholder="Имя").input-bd
					.col-md-4: input(type="text" placeholder="Телефон").input-bd
					.col-md-4: input(type="text" placeholder="E-mail").input-bd
					.col-md-12: textarea.input-bd(placeholder="Вопрос")
					button(type="submit").btn.btn--blue Задать вопрос
	include includes/cifri-noh2