extends _template

block main
	.page__inner-content
		.container
			section.inner-content
				h2 Преимущества зимнего <br> строительства дома
				.sep.sep--small
				.reference-more
					
					.reference-more__header 
						.time(datetime="2016-10-03") 03.10.2016
						span.name Строительство зимой - не только возможно, но и выгодно!
					.reference-more__body
						p PrimeHouse определенной сметой затрат. Строительная компания берет на себя 
						p дополнительные расходы, связанные с обогревом бетонных конструкций, устройством таких укрывных материалов, как тенты, предоставлением теплой рабочей одежды строителям и т.д.
						p Вам не придется откладывать строительство загородного дома на следующий год, так что вы гораздо раньше сможете отпраздновать новоселье.
						p Достоинство зимнего строительства заключается и в экономии финансовых средств: вам не придется расходовать часть денег на подъездные пути, необходимые для облегчения строительной работы, для которой требуется тяжелая строительная техника, поскольку грунты в зимние холода промерзают и становятся довольно прочными. Благодаря этому не возникает необходимости в укладке дорожных плит, а также подсыпке щебня для подъезда к площадке, на которой ведется строительство.
						p Вам удастся сэкономить и на строительных материалах, поскольку в зимнее время их стоимость снижается на 10-15 процентов. Стоит учесть, что при перенесении строительного плана на будущий год итоговая цена строительства коттеджа будет повышена на 15-25 процентов. Это связано с ежегодным сезонным увеличением стоимости строительных материалов.
						p Следующим преимуществом является оперативная доставка всех стройматериалов, которая производится в самые короткие сроки, а именно в течение одного рабочего дня с того момента, когда была произведена оплата. Это обусловлено тем, что все необходимое уже имеется у поставщиков в нужном количестве.
						p Кроме того, строительство Вашего дома будет осуществляться с особой внимательностью и тщательностью, поскольку специалисты компании PopHouse в зимние месяцы менее загружены.
						p Все наши специалисты обладают немалым опытом и довольно большим объемом знаний в сфере зимнего строительства загородных домов, которое ведется согласно СНиП 3.03.01-87, СНиП II-22-81, СНиП 12-04-2002, СНиП 12-01-2004, ВСН-159-81.
						p Бетонные работы, а также кладки газобетона рекомендуется проводить при температуре -10 градусов Цельсия и выше с использованием противоморозных добавок, а если температура ниже -10 градусов Цельсия, то работа осуществляется с электропрогревом.
				.reference-more__footer
					a(href="").btn.btn--blue предыдущая статья
					a(href="").btn.btn--blue к списку статей
					a(href="").btn.btn--blue следующая статья
	include includes/cifri-noh2